{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% block main %}
<section class="hero">
	<div class="hero-dish-image">
		<img src="{{ entry.heroDishImage.one().url }}" />
	</div>
	<div class="hero-top" style="background-image:url({{ entry.heroBackgroundImage.one().url }})">
		<div class="hero-top-inner">
			<div class="hero-top-title">
				<img alt="Dish out the delish" src="{{ entry.heroHeadingImage.one().url }}" />
			</div>
			<div class="hero-top-hr hr-style-1"></div>
			<div class="hero-top-copy">
				<div class="hero-top-copy--product">
					<img alt="Product" src="{{ entry.heroProductImage.one().url }}" />
				</div>
				<div class="hero-top-copy--copy">
					{{ entry.heroTopParagraph }}
				</div>
			</div>
		</div>
	</div>
	<div class="hero-middle">
		<div class="hero-middle-button">
			<button v-on:click="scrollToRecipes">See Recipes Below</button>
		</div>
	</div>
	<div class="hero-bottom" style="background-image:url({{ entry.headerBarBackgroundImage.one().url }})">
		<figure>
			<img alt="Mac and Cheese, Your Way" src="{{ entry.headerBarSupportingImage.one().url }}" />
		</figure>
	</div>
</section>
<section class="recipes" id="scroll-here-plz">

	<div class="recipe-top-left"><img alt="Background Image 1" src="{{ entry.homeRecipeTopLeftImage.one().url }}"></div>
	<div class="recipe-top-right"><img alt="Background Image 2" src="{{ entry.homeRecipeTopRightImage.one().url }}"></div>

	<div class="recipes-heading">
		<p>{{ entry.body }}</p>
	</div>
	<div class="recipes-grid">
		<div class="recipe-row">
			{% for recipe in craft.entries.section('recipes').all() %}
				<div class="recipe-col">
					<div class="recipe-outer">
						<div class="recipe-item">
							<a href="{{ recipe.url }}" class="recipe-img" style="background-image:url({{ recipe.recipeImage.one().url }})"></a>
							<div class="recipe-info">
								<a href="{{ recipe.url }}">
									{{ recipe.title }}
								</a>
								<p>
									{{ recipe.recipeDescription }}
								</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="recipe-bottom-left"><img alt="Background Image 3" src="{{ entry.homeRecipeBottomLeftImage.one().url }}"></div>
	<div class="recipe-bottom-right"><img alt="Background Image 4" src="{{ entry.homeRecipeBottomRightImage.one().url }}"></div>
	
</section>

<section class="yellow-divider" style="background-image:url({{ globals.yellowBg.one().url }})"></section>

<section class="products" style="background-image:url({{ globals.darkBackgroundImage.one().url }})">
	<div class="products-intro">
		<h2>{{ entry.productsSectionTitle }}</h2>
		<div class="products-hr hr-style-2"></div>
		{{ entry.productsSectionCopy }}
	</div>
	
	<div class="products-grid">
		<div class="products-row">
			{% for product in craft.entries.section('products').all() %}
				<div class="product-col">
					<div class="product-outer">
						<div class="product-item">
							<a href="{{ product.productUrl }}" class="product-img" style="background-image:url({{ product.productImage.one().url }})"></a>
							<div class="product-info">
								<a href="{{ product.productUrl }}">
									{{ product.title }}
								</a>
								{{ product.productDescription }}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

<section class="footer" style="background-image:url({{ entry.footerBackground.one().url }});">
	<div class="footer-mid">
		<div class="footer-cta">
			<a href="{{ entry.footerCtaLink }}">{{ entry.footerCtaText }}</a>
			<div class="footer-hr hr-style-2"></div>
		</div>
		<figure>
			<img alt="Footer Logo" src="{{ entry.footerLogo.one().url }}" />
		</figure>
	</div>
</section>
{% endblock %}
